<!--
Interface coded by Wanderson Jackson, UX Designer and UI Developer
https://www.uplabs.com/jackson
------------------------------------------------------------------
UI Concept by Viyaj Verna, Product designer
https://www.uplabs.com/posts/profile-card-ddd03647-6e7e-4bda-8571-0d1f4eb52f21
twitter.com/realvjy
-->
@model CUser
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/css/profile.css">
</head>

<div class="background">
    <div class="container">
        <div class="grid-7 element-animation">
            <!--card-1-->
            <div class="card color-card">
                <ul>
                    <li><i class="fas fa-arrow-left i-l w"></i></li>
                    <li><i class="fas fa-ellipsis-v i-r w"></i></li>
                    <li><i class="far fa-heart i-r w"></i></li>
                </ul>
                <img src="https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d5363c18112a02ce22d0c46f8570147&auto=format&fit=crop&w=635&q=80%20635w" alt="profile-pic" class="profile">
                @*@if (Model.Images != null)
                {
                    <img src="data:image;base64,@(Convert.ToBase64String(Model.Images))" />
                }else{
                    <img src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.shutterstock.com%2Fimage-vector%2Fuser-icon-vector-trendy-flat-260nw-1720665448.jpg&imgrefurl=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Fuser-profile&tbnid=zsN6uXeIZwul-M&vet=10CBQQxiAoBGoXChMIkIedg9zB_QIVAAAAAB0AAAAAEBY..i&docid=G7loAfGfHcqe7M&w=260&h=280&itg=1&q=profile%20img&ved=0CBQQxiAoBGoXChMIkIedg9zB_QIVAAAAAB0AAAAAEBY" alt="profile-pic" class="profile">
                }*@
                <h1 class="title">@if (Model == null) { }
                    else
                    {
                        @Model.Fullname_
                    }</h1>
                <p style="font-size:16px;color:white;"> Vai trò</p>
               
                <hr style="height:3px;color:#FFFFCC"/>
                <div class="container">
                    <div class="content">
                        <div class="grid-2">
                            <button class="color-c circule"> <i class="fa-brands fa-facebook brand-icon"></i></button>
                            <h2 class="title">12.3k</h2>
                            <p class="followers">Followers</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-c circule"><i class="fa-brands fa-tiktok brand-icon"></i></button>
                            <h2 class="title">16k</h2>
                            <p class="followers">Followers</p>
                        </div>
                        <div class="grid-2">
                            <button class="color-d circule"><i class="fa-brands fa-instagram brand-icon"></i></button>
                            <h2 class="title">17.8k</h2>
                            <p class="followers">Followers</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--card-2-->

        <div class="grid-7 element-animation">
            <div class="card color-card-2">
                <ul>
                    <li><i class="fas fa-arrow-left i-l b"></i></li>
                    <li><i class="fas fa-ellipsis-v i-r b"></i></li>
                    <li><i class="far fa-heart i-r b"></i></li>
                </ul>
                <img src="https://images.unsplash.com/photo-1499557354967-2b2d8910bcca?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d5363c18112a02ce22d0c46f8570147&auto=format&fit=crop&w=635&q=80%20635w" alt="profile-pic" class="profile">
                <h1 class="title-2">@if (Model == null) { }
                    else
                    {
                        @Model.Fullname_
                    }</h1>
                <p style="font-size:16px;"> Chỗ này bỏ vai trò vào</p>
                <hr style="height:3px;color:#0033FF">
                <div class="desc top flex">
                    <p>Số điện thoại: </p>
                    <p style="padding-left:10px;"> @if (Model == null) { }
                        else
                        {
                            @Model.PhoneNumber
                        }</p>
                </div>
                <div class="desc top flex">
                    <p>Address: </p>
                    <p style="padding-left:10px;"> @if (Model == null) { }
                        else
                        {
                            @Model.PhoneNumber
                        }  </p>
                </div>
                <div class="desc top flex">
                    <p>Hometown: </p>
                    <p style="padding-left:10px;"> @if (Model == null) { }
                        else
                        {
                            @Model.HomeTown
                        } </p>
                </div>
                <div class="desc top flex">
                    <p>Mail: </p>
                    <p style="padding-left:10px;"> @if (Model == null) { }
                        else
                        {
                            @Model.Email
                        } </p>
                </div>
                <button class="btn color-a top"> Update</button>
            </div>
        </div>
    </div>
</div>

